:root {
    --primary-color: #ffcd61;
    --disabled-color: #ccc;
}

body {
    font-family: system-ui;
    background: #111;
    margin: 0;
    color: red;
}

.playlists {
    height: 328px;
    border-bottom: 1px solid #2C2C2C;
    width: 250px;
}

.playlist-container {
    width: 250px;
}

.Playlist__playlist {
    background: #333;
    user-select: none;
    overflow: hidden;
    transition: 1s;
    width: 250px;
}

.Playlist__info {
    background: #222;
    padding: 10px;
    font-size: 1em;
    display: flex;
    align-items: center;
    gap: 10px;
}

.Playlist__info img {
    height: 15px;
    margin-left: 10px;
    filter: invert(1);
}

.Playlist__song img {
    height: 100%;
}

.Playlist__song__cover__container {
    height: 25px;
    width: 25px;
    margin-right: 10px;
}

.Playlist__info:hover {
    cursor: pointer;
}

.Playlist__name {
    color: #fff;
}

.Playlist__songs {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.1s ease-in;
}

.Playlist__songs.expanded {
    max-height: 1000px;
    transition: max-height 0.5s ease-in;
}

.Playlist__song {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #444;
    color: #ccc;
    cursor: pointer;
    transition: 0.2s ease-out;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.Playlist__song:hover {
    background: #444;
    color: #fff;
    padding-left: 25px;
    transition: 0.2s ease-out;
}

.Playlist__song:hover .Playlist__song__cover__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.2);
}

.Playlist__song__cover__overlay {
    display: none;
}


.Playlist__floatingCover {
    background: #333;
    padding: 5px;
    position: absolute;
    pointer-events: none;
    width: 200px;
    height: 200px;
    top: 0;
    left: 0;
    margin-left: -100px;
    opacity: 0;
    animation: apareixerImatge 0.2s ease-out;

}

.Playlist__floatingCover img {
    width: 100%;
    height: 100%;
}

.Playlist__floatingCover.appear {
    opacity: 1;
    margin-left: 0px;
    animation: apareixerImatge 0.2s ease-out;
}

@keyframes apareixerImatge {
    0% {
        opacity: 0;
        margin-left: -100px;
    }

    50% {
        opacity: 0.2;
    }

    100% {
        opacity: 1;
        margin-left: 0;
    }
}


.Playlist__song__text__container {
    display: flex;
    gap: 10px;
    overflow: hidden;
    width: fit-content;
}

.Playlist__song__text {
    position: relative;
}

.Playlist__song__text:last-child {
    visibility: hidden;
}

.playlists {
    width: fit-content;
    /* height: 500px; */
    overflow-y: scroll;
    background: #555;
}

/* Style the scrollbar width and color for Firefox */
.playlists {
    scrollbar-width: thin;
    scrollbar-color: #888 #555; /* Change the colors as desired */
}

/* Style the scrollbar track and thumb for Chrome */
.playlists::-webkit-scrollbar {
    width: 10px; /* Adjust the width as needed */
    background-color: #555;
}

.playlists::-webkit-scrollbar-thumb {
    background-color: #888; /* Change the color as desired */
}

.playlists::-webkit-scrollbar-thumb:hover {
    background-color: #999; /* Change the color on hover */
}

#jukebox {
    width: 100%;
}

.Playlist__song__cover__overlay {
    width: 25px;
    height: 25px;
}

.Playlist__song__cover__overlay img {
    width: 50%;
    height: 50%;
    filter: invert(1);
}

.Playlist__song__cover__overlay img:last-child {
    display: none;
}

.Playlist__song__cover__container {
    position: relative;
}

.Playlist__song__cover__overlay img {
    filter: invert(1);
    opacity: 0.8;
}

.Playlist__song__text.playing {
    color: var(--primary-color);
}

.AudioPlayer__progressbar:hover {
    cursor: pointer;
}

.AudioPlayer__progressbar__thumb:hover {
    cursor: pointer;
}

.AudioPlayer__progressbar__progress {
    position: relative;
    height: 100%;
    background-color: var(--primary-color);
}

.AudioPlayer__progressbar {
    width: 700px;
    height: 7px;
    background-color: none;
    display: flex;
    align-items: center;
    background: black;
    transition: 0.1s;
}

.AudioPlayer__progressbar__thumb {
    --size: 7px;
    height: var(--size);
    width: var(--size);
    margin-left: calc(var(--size) / -2);
    background: var(--primary-color);
    border-radius: 100%;
    position: absolute;
}

.AudioPlayer__progressbar:hover {
    height: 12px;
    transition: 0.1s;
}

.AudioPlayer__progressbar:hover .AudioPlayer__progressbar__thumb {
    --size: 12px;
    height: var(--size);
    width: var(--size);
    margin-left: calc(var(--size) / -2);
    transition: 0.1s;
}

.AudioPlayer {
    background: #222;
    padding: 30px;
    width: fit-content;
    display: flex;
    gap: 10px;
    align-items: center;
}

.AudioPlayer__info {
    overflow: hidden;
    width: 100px;
    height: fit-content;
    max-height: 122px;
}

.art-box img {
    height: 100px;
    width: 100px;
}

.art-box {
    display: flex;
    justify-content: center;
    width: 100px;
    height: 108px;
}

.AudioPlayer__player {
    width: 700px;
    margin-left: 15px;
}


.AudioPlayer__progressbar__container {
    display: flex;
    align-items: center;
    height: 15px;
    margin-top: 10px;
    width: fit-content;
}

.controls-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 10px;
}

.AudioPlayer__buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.AudioPlayer__time {
    color: #fff;
}

.controls-box img {
    height: 20px;
    filter: invert(1);   
}

.AudioPlayer__buttons:hover {
    cursor: pointer;
}

.AudioPlayer__progressbar__container {
    height: 12px;
    display: flex;
    align-items: center;
}

.status-box {
    color: #ccc;
    display: flex;
    overflow: hidden;
}

.status-box__child {
    position: relative;
    text-wrap: nowrap;
    white-space: nowrap;
    display: flex;
    align-items: flex-end;
    height: 24px;
}

.music-icon {
    display: flex;
    gap: 2px;
    overflow: hidden;
    align-items: flex-end;
    height: 50px;
    margin-bottom: 2px;
    margin-right: 10px;
    margin-left: 10px;
}

.bar {
    width: 2px;
    height: 1px;
    background-color: var(--primary-color);
    transform-origin: bottom center;
    border-radius: 2px;
}

.bar:nth-child(1) {
    animation: musicAnimation 1s linear infinite alternate, barAnimation 1s linear infinite;
}

.bar:nth-child(2) {
    animation: musicAnimation 0.7s linear infinite alternate, barAnimation 0.7s linear infinite;
}

.bar:nth-child(3) {
    animation: musicAnimation 0.5s linear infinite alternate, barAnimation 0.5s linear infinite;
}

.bar:nth-child(4) {
    animation: musicAnimation 1.2s linear infinite alternate, barAnimation 1.2s linear infinite;
}

@keyframes musicAnimation {
    0%, 100% {
        transform: scaleY(1);
    }
    50% {
        transform: scaleY(30);
    }
}

@keyframes barAnimation {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-3);
    }
}

strong {
    margin-left: 5px;
}

.music-icon.hidden {
    opacity: 0;
}

.AudioPlayer__player.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.AudioPlayer__player.disabled .AudioPlayer__progressbar__thumb {
    background: var(--disabled-color);
}

.Playlist__info__right {
    display: flex;
    gap: 10px;
    margin-left: auto;
}

.Playlist__info__right div {
    padding: 5px 7px;
    border-radius: 50%;
    transition: 0.1s ease-out;
}

.Playlist__info__right img {
    margin: 0;
}

.Playlist__info__right .hover {
    background: #333;
    transition: 0.1s ease-out;
}

.Playlist__unfold.folded img {
    transform: rotate(90deg);
    transition: 0.1s ease-out;
}

.Playlist__song__text.plating {
    color: var(--primary-color);
}


.playlist-container-header {
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: 10px;
    background: #222;
    border-bottom: 1px solid #2C2C2C;
    align-items: center;
}

.playlist-container-header-add {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 50%;

}

.playlist-container-header-add:hover {
    transition: 0.1s ease-in;
    background: #333;
    cursor: pointer;
}

.playlist-container-header-add img {
    height: 15px;
    filter: invert(1);
}