body {
    font-family: system-ui;
}

.Playlist__playlist {
    width: 250px;
    background: #333;
    /* margin-bottom: 10px; */
    user-select: none;
    overflow: hidden;
    transition: 1s;
}

.Playlist__info {
    background: #222;
    padding: 10px;
    font-size: 1em;
    display: flex;
    align-items: center;
    gap: 10px;
}

.Playlist__info img {
    height: 15px;
    margin-left: 10px;
    filter: invert(1);
}

.Playlist__song img {
    width: 25px;
    margin-right: 10px;
}


.Playlist__info:hover {
    cursor: pointer;
}

.Playlist__name {
    color: #fff;
}

.Playlist__songs {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.1s ease-in;
}

.Playlist__songs.expanded {
    max-height: 1000px;
    transition: max-height 0.5s ease-in;
}

.Playlist__song {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #444;
    color: #ccc;
    cursor: pointer;
    transition: 0.2s ease-out;
    white-space: nowrap;
    text-overflow: ellipsis;

}

.Playlist__song:hover {
    background: #444;
    color: #fff;
    padding-left: 25px;
    transition: 0.2s ease-out;
}




.Playlist__floatingCover {
    background: #333;
    padding: 5px;
    position: absolute;
    pointer-events: none;
    width: 200px;
    height: 200px;
    top: 0;
    left: 0;
    margin-left: -100px;
    opacity: 0;
    animation: apareixerImatge 0.2s ease-out;

}

.Playlist__floatingCover img {
    width: 100%;
    height: 100%;
}

.Playlist__floatingCover.appear {
    opacity: 1;
    margin-left: 0px;
    /* transition: 0.2s ease-in; */
    animation: apareixerImatge 0.2s ease-out;
}

@keyframes apareixerImatge {
    0% {
        opacity: 0;
        margin-left: -100px;
    }

    50% {
        opacity: 0.2;
    }

    100% {
        opacity: 1;
        margin-left: 0;
    }
}


.Playlist__song__text__container {
    display: flex;
    gap: 10px;
    overflow: hidden;
    width: fit-content;
}

.Playlist__song__text {
    position: relative;
}

.Playlist__song__text:last-child {
    visibility: hidden;
}

.playlists {
    width: fit-content;
    height: 500px;
    overflow-y: scroll;
    background: #555;
}

/* Style the scrollbar width and color for Firefox */
.playlists {
    scrollbar-width: thin;
    scrollbar-color: #888 #555; /* Change the colors as desired */
}

/* Style the scrollbar track and thumb for Chrome */
.playlists::-webkit-scrollbar {
    width: 10px; /* Adjust the width as needed */
    background-color: #555;
}

.playlists::-webkit-scrollbar-thumb {
    background-color: #888; /* Change the color as desired */
}

.playlists::-webkit-scrollbar-thumb:hover {
    background-color: #999; /* Change the color on hover */
}

#jukebox {
    width: 100%;
}